@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

.text{
  position: absolute;
  z-index: 10;
  color: white;
    pointer-events: none;
  top: 1em;
  left: 0;
  font-size: 10em;
  letter-spacing: -0.08em;
  line-height: 1.9em;
}

body {
  background: #151515;
  color: black;
  font-family: 'Inter';
}

a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 0.5s forwards;
}

#root{
  position: relative;
}